body {
  padding: 50px;
  font: 22px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: paleturquoise;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type:✈;
}

button {
  border-radius: 5px;
  background: rgb(103, 200, 200);
}
